.info-container {
  display: grid;
  place-items: center;
  height: 80vh;
  color: #f6f6f6;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form-container p {
  text-align: center;
  margin-bottom: 1rem;
}

.form-input {
  padding: 10px;
  margin-bottom: 0.7rem;
  border: none;
  background-color: #272b30;
  color: #f6f6f6;
  outline: none;
  border-radius: 4px;
}

.form-submit-btn {
  padding: 10px;
  background-color: #83bf6e;
  border: none;
  border-radius: 4px;
  color: #f6f6f6;
  font-weight: 700;
  font-size: medium;
}

.form-input-field {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  margin-bottom: 0.7rem;
  background-color: #272b30;
  color: #f6f6f6;
}

.form-search-btn {
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background-color: #111315;
  color: #f6f6f6;
}

.form-list-container {
  width: 100%;
  height: 25vh;
  margin: auto;
  overflow: scroll;
  margin-bottom: 0.7rem;
}

.place-list {
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.place-list li {
  cursor: pointer;
  margin: 0.5em;
  padding: 4px;
  font-weight: normal;
  font-size: small;
  color: #f6f6f6;
}

.place-list li:hover {
  background-color: rgb(184, 184, 184);
}

.error-message {
  color: #e04040;
  font-size: smaller;
}

@media screen and (max-width: 700px) {
  .form-container {
    width: 90%;
  }
}
